<!-- HEADER -->
<header class="header">
    <div class="header__logo">
        <h1>V.Parrot</h1>
        <p class="header__p">Garage Automobile</p>
    </div>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__link"><a class="header__a" href="/">Home</a></li>
            <li class="header__link"><a class="header__a" href="/services">Services</a></li>
            <li class="header__link"><a class="header__a" href="/annonces">Occasions</a></li>
            <li class="header__link header__none"><a href="/login">Connexion</a></li>
    </nav>
<!-- BOUTON DE CONNEXION--> 
    <div class="box">
        <a class="box__btn" href="/login" class="box__btn">Connexion</a>
        <div class="box__triangle"></div>
    </div>
<!-- NAVIGATION BURGER MENU -->
    <button type="button" aria-label="toggle navigation" class="nav__toggler">
        <span class="line l1"></span>
        <span class="line l2"></span>
        <span class="line l3"></span>
    </button>
</header>
