{% block title %}404 Error{% endblock %}
{% block body %}
    <section class="error404">
        <h1 class="error404__title">Erreur 404 - Page introuvable</h1>
        <p class="error404__p">Désolé, la page que vous recherchez est introuvable.</p>
        <a class="error404__link" href="/">Retour a l'Accueil</a>
    </section>
{% endblock %}